<div role="main" class="main" >
   
 
    
    <div class="container" id="proceso">
    
        <div class="row center">
            <div class="col-md-12">
                <h1 class="short word-rotator-title">
                    La mejor pagina que podras encontrar
                    <strong class="inverted">
                        <span class="word-rotate" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
                            <span class="word-rotate-items">
                                <span>conectar</span>
                                <span>informar</span>
                                <span>colaborar</span>
                            </span>
                        </span>
                    </strong>
                </h1>
                <p class="featured lead">
                    para la selección de aspirantes y la búsqueda de empleo en la cuidad
                </p>
            </div>
        </div>
    
    </div>
    
  
    
    
    <div class="container" id="registro">
            <div class="col-md-12">
                <h2>Empresas y <strong>Aspirantes</strong></h2>
            </div>

            <ul class="portfolio-list">
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="assets/img/logo.jpeg">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Regístrate como aspirante</span>
                                <span class="thumb-info-type">Aspirante</span>
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="assets/img/logo.jpeg">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Registra tu empresa</span>
                                <span class="thumb-info-type">Empresas</span>
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    
    <hr class="tall" />

    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h2 class="short word-rotator-title">
                    Las organizaciones ya están buscando candidatos.
                    <strong>
                        <span class="word-rotate" data-plugin-options="{'delay': 3500, 'animDelay': 400}">
                            <span class="word-rotate-items">
                                <span>Regístrate</span>
                                <span>Publica</span>
                                <span>Vincula</span>
                            </span>
                        </span>
                    </strong>
                </h2>
                <h4 class="lead tall">No dejemos que nuestro talento se vaya a otro lugar, o que las organizaciones de la ciudad. tengan que buscars en otra región</h4>
            </div>
        </div>
    </div>
    

        <section class="featured footer map">
            <div class="container" style="text-align:center">
                <img class="img-responsive" src="assets/img/logo.jpeg" alt="" style="display:inline; margin: 70px; ">
            </div>
        </section>
   
</div>
