<div role="main" class="main" >
    <div class="slider-container" id="inicio">
        <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options="{'startheight': 500}">
            <ul>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                    <img src="assets/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
    
                        <div class="tp-caption sft stb"
                             data-x="155"
                             data-y="170"
                             data-speed="600"
                             data-start="100"
                             data-easing="easeOutExpo"><img src="assets/img/icons/company.png" alt=""></div>
    
                        <div class="tp-caption blackboard-text sft stb"
                             data-x="160"
                             data-y="180"
                             data-speed="900"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size: 30px;">Fácil y en la ciudad</div>
    
                        <div class="tp-caption sft stb visible-lg"
                             data-x="685"
                             data-y="190"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="assets/img/slides/slide-title-border.png" alt=""></div>
                    
                        <div class="tp-caption main-label sft stb"
                             data-x="750"
                             data-y="170"
                             data-speed="300"
                             data-start="900"
                             data-easing="easeOutExpo">Empresas</div>
    
                        <div class="tp-caption sft stb visible-lg"
                             data-x="1070"
                             data-y="190"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="assets/img/slides/slide-title-border.png" alt=""></div>
                    
                        <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="250"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">Publica tus vancantes</div>
                       <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="280"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">o busca candidatos directamente</div>
    
                </li>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >
                    <img src="assets/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
    
                        <div class="tp-caption sft stb"
                             data-x="155"
                             data-y="210"
                             data-speed="600"
                             data-start="100"
                             data-easing="easeOutExpo"><img src="assets/img/icons/empleados.png" alt=""></div>
    
                        <div class="tp-caption blackboard-text sft stb"
                             data-x="180"
                             data-y="140"
                             data-speed="900"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size: 30px;">Contacta empresas</div>
                        <div class="tp-caption blackboard-text sft stb"
                             data-x="180"
                             data-y="180"
                             data-speed="900"
                             data-start="1500"
                             data-easing="easeOutExpo" style="font-size: 30px;">que buscan tus habilidades</div>
    
                        <div class="tp-caption sft stb visible-lg"
                             data-x="685"
                             data-y="190"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="assets/img/slides/slide-title-border.png" alt=""></div>
                    
                        <div class="tp-caption main-label sft stb"
                             data-x="750"
                             data-y="170"
                             data-speed="300"
                             data-start="900"
                             data-easing="easeOutExpo">Aspirantes</div>
    
                        <div class="tp-caption sft stb visible-lg"
                             data-x="1110"
                             data-y="190"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="assets/img/slides/slide-title-border.png" alt=""></div>
                    
                        <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="250"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">Publica tus habilidades</div>
                       <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="280"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">o aplica para los puestos disponibles</div>
    
                </li>
            </ul>
        </div>
    </div>
    <div class="home-intro" id="home-intro">
        <div class="container">
    
            <div class="row">
                <div class="col-md-8">
                    <p>
                        Queremos aprovechar el<em>Talento </em> conectando a las empresas y aspirantes...
                        <span>De nuestra ciudad</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="get-started">
                        <a data-hash href="#registro" class="portal-menu btn btn-lg btn-primary">!Empieza ahora!</a>
<!--									<div class="learn-more">o <a href="index.html">infórmate más</a></div>-->
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="container" id="proceso">
    
        <div class="row center">
            <div class="col-md-12">
                <h1 class="short word-rotator-title">
                    El portal de empleo y vinculación busca
                    <strong class="inverted">
                        <span class="word-rotate" data-plugin-options="{'delay': 2000, 'animDelay': 300}">
                            <span class="word-rotate-items">
                                <span>conectar</span>
                                <span>informar</span>
                                <span>colaborar</span>
                            </span>
                        </span>
                    </strong>
                </h1>
                <p class="featured lead">
                    para la selección de aspirantes y la búsqueda de empleo en la cuidad
                </p>
            </div>
        </div>
    
    </div>
    
    <div class="home-concept">
        <div class="container">
    
            <div class="row center">
                <span class="sun"></span>
                <span class="cloud"></span>
                <div class="col-md-2 col-md-offset-1">
                    <div class="process-image" data-appear-animation="bounceIn">
                        <img src="assets/img/icons/talento.png" alt="" />
                        <strong>Talento</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                        <img src="assets/img/icons/search.png" alt="" />
                        <strong>Búsqueda</strong>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="assets/img/icons/link.png" alt="" />
                        <strong>Vinculación</strong>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="project-image">
                        <div id="fcSlideshow" class="fc-slideshow">
                            <ul class="fc-slides">
                                <li><a href="#"><img class="img-responsive" src="assets/img/icons/empleo1.png" /></a></li>
                                <li><a href="#"><img class="img-responsive" src="assets/img/icons/empleo2.png" /></a></li>
                                <li><a href="#"><img class="img-responsive" src="assets/img/icons/empleo3.png" /></a></li>
                            </ul>
                        </div>
                        <strong class="our-work">Empleo</strong>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="container">
    
        <div class="row">
            <hr class="tall" />
        </div>
    
    </div>
    
    
    <hr class="tall" />
    
    <div class="container" id="registro">
            <div class="col-md-12">
                <h2>Empresas y <strong>Aspirantes</strong></h2>
            </div>

            <ul class="portfolio-list">
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="assets/img/icons/aspirantes.png">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Regístrate como aspirante</span>
                                <span class="thumb-info-type">Aspirante</span>
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
                <li class="col-md-6 col-xs-6">
                    <div class="portfolio-item thumbnail">
                        <a href="portfolio-single-project.html" class="thumb-info">
                            <img alt="" class="img-responsive" src="assets/img/icons/empresas.png">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">Registra tu empresa</span>
                                <span class="thumb-info-type">Empresas</span>
                            </span>
                            <span class="thumb-info-action">
                                <span title="Universal" class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                            </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    
    <hr class="tall" />

    <div class="container">
        <div class="row center">
            <div class="col-md-12">
                <h2 class="short word-rotator-title">
                    Las organizaciones ya están buscando candidatos.
                    <strong>
                        <span class="word-rotate" data-plugin-options="{'delay': 3500, 'animDelay': 400}">
                            <span class="word-rotate-items">
                                <span>Regístrate</span>
                                <span>Publica</span>
                                <span>Vincula</span>
                            </span>
                        </span>
                    </strong>
                </h2>
                <h4 class="lead tall">No dejemos que nuestro talento se vaya a otro lugar, o que las organizaciones de la ciudad. tengan que buscars en otra región</h4>
            </div>
        </div>
    </div>
    
    <div class="map-section">
        <section class="featured footer map">
            <div class="container" style="text-align:center">
                <img class="img-responsive" src="assets/img/icons/dad.png" alt="" style="display:inline; margin: 70px; ">
            </div>
        </section>
    </div>
</div>
